{% load static %}
{% load mathfilters %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Qurr 2.0</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img height = 65px;  src="{% static 'images/qurr.png' %}"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/shortener">URL Shortener</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/yt-downloader">Youtube Downloader</a>
              </li>
            </ul>
          </div>
          <button class="btn btn-outline-success" type="button">By Daevid The Great</button>
        </div>
      </nav>

      <div class="container">
      <div class="my-5 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{embed}}" allowfullscreen></iframe>
      </div>
      <h2>Title : {{title}}</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Quality</th>
      <th scope="col">Size</th>
      <th scope="col">Type</th>
      <th scope="col">Download</th>
    </tr>
  </thead>

  {% for x in video %}
  <tbody>
    <tr>
      <td>{{x.resolution}}</td>
      <td>{{ x.filesize|div:1000000|floatformat }} MB</td>
      <td>{{x.type}}</td>
      <td>
        <form method="post">
          {% csrf_token %}
        <button type="submit" class="btn btn-success">Download</button>
      </form>
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>